@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* hide scrollbar (both axis) */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }
}

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 0 0% 96%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 96%;

    --primary: 330 90% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 96%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 65%;

    --border: 0 0% 18%;
    --input: 0 0% 14%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* shadcn/sonner toaster – bottom-right */
[data-sonner-toaster] {
  inset: auto 1rem 1rem auto;
}
